/* 
green is #2eb82e
blue is #006bb3;
sidebar background is # 262626
sidebar text is #8c8c8c and #666666
nav item font color is #8c8c8c
header button outlines are #bfbfbf


need to:
--> media query for BIG screens --> graphs && social sections all need to grow

--> find graph 250px by 105 px... or make one??
--> dropdown navs for sidebar menus

--> consolidate service  & summary section button styling
--> consolidate container stying --> graphs and info esp
--> add labels to circle graphs --> should go below graphs on mobile
--> fix sidebar header's mobile appearance --> menu looks dumb

*/

body {
  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
}

p {
  font-size: .8em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: .85em;
}

h4 {
  font-size: .8em;
  font-weight: 700;
}

h5 {
  font-size: .75em;
}

button {
  background-color: transparent;
  border-radius: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

/*MAIN CONTAINERS*/
.page-container {
  display: flex;
}

.main-container {
  background-color: #f2f2f2;
  display: inline-block;
  width: 100%;
}

.sidebar-container {
  background-color: #333333;
  min-width: 140px;
  position: relative;
  width: 160px;
}

/*SIDEBAR*/
.headshot-container {
  border-bottom: 2px solid #262626;
  padding: 25px 0 10px;
  width: 100%;
}

.headshot-img {
  background: url('../images/dog.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 65px;
  margin: 0 auto 15px;
  width: 65px;
}

.headshot-label {
  color:  #8c8c8c;
  font-size: .8em;
  font-weight: 700;
  margin: 10px 0 10px 15px;
  text-align: center;
}

.sidebar-nav {
  border-bottom: 2px solid #262626;
  margin: 20px 0px;
  padding-bottom: 20px;
}

.sidebar-nav-label {
  color: #666666;
  font-size: .8em;
  font-weight: 700;
  margin-bottom: 10px;
  padding-left: 10px;
}

.sidebar-nav-item {
  box-sizing: border-box;
  color:  #8c8c8c;
  cursor: pointer;
  font-size: .8em;
  font-weight: 900;
  padding: 10px;
  width: 100%;
}

.nav-icon {
  margin-right: 12px;
  width: .8em;
}

.cat-nav {
  border-bottom: none;
}

.cat-nav .sidebar-nav-item {
  font-size: .75em;
}

.sidebar-nav-item:hover,
.sidebar-nav .active-item {
  background-color: #262626;
  color: #f2f2f2;
}

.sidebar-nav .active-item {
  border-left: 2px solid #006bb3;
}

.yellow-icon {
  color: yellow;
}

.green-icon {
  color: green;
}

.red-icon {
  color: red;
}

/*MAIN SEARCH HEADER*/
.main-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hdr-btn {
  border: 1px solid #bfbfbf;
  color: #8c8c8c;
  font-size: .9em;
  height: 50px;
  min-width: 50px;
}

.hdr-btn:hover {
  border-color: #8c8c8c;
  color: #666666;
}

.hdr-btn .fa-caret-left {
  color: #006bb3;
}

.site-search-wrap {
  position: relative;
  width: 100%;
}

.search-input {
  box-sizing: border-box;
  height: 50px;
  padding: 5px 35px;
  width: 100%;
}

.search-input:focus {
  border: 1px solid #8c8c8c;
  box-shadow: none;
  color: #666666;
}

.search-icon {
  color: #8c8c8c;
  left: 10px;
  position: absolute;
  top: 17px;
}

.add-user-btn,
.edit-cal-btn,
.tile-menu-btn {
  margin-left: auto;
}

/*SERVICE REPRESENTATIVE MENU*/
.service-rep-container {
  background-color: #ffffff;
  border-bottom: 2px solid #bfbfbf;
  height: 100px;
  padding: 30px 25px 0;
  position: relative;
}

.service-title-wrap {
  display: inline-block;
  margin-bottom: 25px;
}

.service-rep-title {
  margin-bottom: 8px;
}

.service-rep-loca {
  cursor: pointer;
  display: inline-block;
}

.service-rep-loca .fa-map-marker,
.service-rep-loca span {
  margin: 0 5px;
}

.post-preview-btn {
  color: #006bb3;
  padding: 0;
}

.service-nav-btn-wrap {
  position: absolute;
  right: 20px;
  top: 40px;
}

.service-nav-btn {
  border-radius: 15px;
  border: 1px solid #bfbfbf;
  color: #8c8c8c;
  font-weight: 900;
  height: 30px;
  margin: 0 5px;
  min-width: 30px;
}

.service-nav-btn:hover {
  color: #666666;
  border-color: #8c8c8c;
}

.service-open-btn {
  width: auto;
}

.service-nav-btn .fa-circle {
  color: #2eb82e;
  margin-right: 4px;
}

.service-nav-item {
  color: #8c8c8c;
  cursor: pointer;
  display: inline-block;
  font-size: .8em;
  font-weight: 900;
  margin-right: 10px;
  padding-bottom: 15px;
}

.service-nav-item:hover,
.service-pages-nav .active-item {
  border-bottom: 2px solid #006bb3;
  color:#4d4d4d;
}

.service-show-more {
  display: none;
  font-size: 1em;
  margin-left: 5px;
  margin-right: 0px;
}

.service-show-more:hover {
  border: none;
}


/* SUMMARY - GRAPH SECTION */
.summary-graphs-container {
  border-bottom: 2px solid #bfbfbf;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 25px;
  padding: 40px 0 30px;
  position: relative;
}

.graphs-wrap {
  display: inline-block;
}

.graph-container {
  display: inline-block;
  position: relative;
}

.graph-number {
  justify-content: center;
  left:20px;
  position: absolute;
  top: 38px;
}

.graph-label {
  color: #8c8c8c;
  font-size: .6em;
  font-weight: 900;
  left: 17px;
  position: absolute;
  top: 63px;
}

.circle-graph {
  border-radius: 50%;
  border: 6px solid #bfbfbf;
  display: inline-block;
  height: 80px;
  margin: 10px 20px 25px 0;
  transform: rotate(45deg);
  width: 80px;
}

.applicant-graph {
  border-bottom-color: #006bb3;
}

.interviews-graph {
  border-bottom-color: #2eb82e;
  border-left-color: #2eb82e;
  border-top-color: #2eb82e; 
}

.forwards-graph {
  border-bottom-color: orange; 
  border-left-color: orange;
  margin: 10px 0 25px;
}

.summary-btn {
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #bfbfbf;
  color: #8c8c8c;
  display: block;
  font-weight: 900;
  height: 30px;
  margin: 10px 0 10px 68px;
  padding: 0 12px;
}

.bar-graph-btn {
  margin-left: 85px;
}
.summary-btn:hover,
.summary-toggle-btn:hover {
  border-color: #8c8c8c;
  color: #666666;
}

.bar-graph {
  background-color: #006bb3;
  height: 105px;
  margin: 10px 0 24px 25px;
  width: 250px;
}

.summary-toggle-btn {
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #bfbfbf;
  bottom: -12px;
  box-shadow: 0 0 0 5px #f2f2f2;
  color: #8c8c8c;
  font-weight: 900;
  height: 24px;
  position: absolute;
  width: 24px;
}

/* SUMMARY - TILE SECTION */
.summary-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 25px;
  padding: 40px 0 30px;
  position: relative;
}

.job-description-container {
  background-color: #ffffff;
  border-radius: 2px;
  max-width: 450px;
  min-width: 290px;
}

.description-hdr {
  background-color: #666666;
  border-radius: 2px;
  padding: 10px 20px;
}

.description-title {
  color: #f2f2f2;
  display: inline-block;
  font-size: .8em;
  font-weight: 700;
}

.description-edit-btn {
  background-color: #8c8c8c;
  border-radius: 2px;
  color: #f2f2f2;
  display: inline-block;
  font-weight: 700;
  margin: 0 10px;
  padding: 8px 10px;
}

.description-edit-btn:hover {
  color: #ffffff;
}

.description-edit-btn .fa-pencil {
  margin-right: 5px;
}

.description-table {
  margin: 10px 25px 0;
}

.description-row {
  border-bottom: 2px solid #f2f2f2;
}

.description-row:last-child {
  border-bottom: none;
}

.row-data {
  vertical-align: top;
  padding: 20px 0;
}

.row-heading {
  font-size: .8em;
  font-weight: 900;
  margin-top: 2px;
  width: 140px;
}

.row-content {
  line-height: 1.3em;
}

.social-container {
  margin: 0 25px;
  width: 200px;
}

.social-btn {
  border-radius: 2px;
  color: #f2f2f2;
  font-size: .75em;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.social-btn:hover {
  color: #ffffff;
}

.social-btn .social-icon {
  position: absolute;
  left: 15px;
  top: 12px;
}

.facebook-btn {
  background-color: #3B5998;
}

.twitter-btn {
  background-color: #00aced;
}

.linked-in-btn {
  background-color: #0077B5;
  margin-bottom: 0;
}

.social-widget-wrap {
  border-bottom: 2px solid #bfbfbf;
  padding: 20px 0;
}

.social-widget-wrap:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.widget-title {
  font-weight: 700;
  margin: 10px 0;
}

.widget-icon {
  margin-right: 5px;
}

.widget-text {
  color: #8c8c8c;
  font-size: .7em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

.url-wrap {
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
  padding: 7px 45px 7px 7px;
  position: relative;
  text-overflow: ellipsis;
}

.url-text {
  color: #8c8c8c;
  display: inline-block;
  font-size: .7em;
}

.copy-url-btn {
  background-color: #2eb82e;
  border-radius: 2px;
  color: #f2f2f2;
  font-size: .6em;
  font-weight: 700;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.copy-url-btn:hover {
  color: #ffffff;#262626
}

/* MEDIA */
@media screen and (max-width: 800px) {
  /* SERVICE REPRESENTATIVE MENU SECTION */
   .service-rep-container {
    height: auto;
    margin-top: 
  }

  .service-show-more {
    display: inline-block;
  }

  .nav-drop {
    display: none;
  }

  /* SUMMARY - GRAPH SECTION */
  .bar-graph {
    margin: 10px 10px 24px;
  }

  .bar-graph-btn {
    margin-left: 70px;
  }

  /* SUMMARY - TILE SECTION */
  .social-container {
    margin: 30px 0 0;
    max-width: 500px;
    min-width: 290px;
    width: auto;
  }
}

@media screen and (max-width: 625px) {
  .page-container {
    display: block;
  }

  /*SIDEBAR --> MOBILE HEADER*/
  .sidebar-container {
    height: auto;
    width: 100%;
  }

  .sidebar-nav {
    border-right: 1px solid black;
    border: none;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    width: 32%;
  }

  .headshot-container {
    border-bottom: none;
  }

  .cat-nav {
    border-right: none;
  }

  .sidebar-nav-label {
    padding: 0;
    margin: 10px 0 0;
  }

  .sidebar-nav-item {
    display: none;
  }

  /* MAIN SEARCH HEADER */
  .main-header {
    flex-wrap: wrap;
  }

  .toggle-sidebar-btn {
    display: none
  }

  .add-user-btn,
  .edit-cal-btn,
  .tile-menu-btn {
    min-width: 33.333333333%;
  }
}

@media screen and (max-width: 540px) {
 
  /* SERVICE REPRESENTATIVE MENU SECTION */
  .service-nav-btn-wrap {
    display: block;
    margin: 0 auto 20px;
    position: relative;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 413px) {

   /* SERVICE REPRESENTATIVE MENU SECTION */
  .nav-drop-2 {
    display: none;
  }

  /* SUMMARY - GRAPH SECTION */
  .summary-graphs-container {
    margin: 0 10px;
  }

  .circle-graph {
    height: 70px;
    width: 70px;
  }

  .bar-graph {
    height: 135px;
    width: 290px;
  }

  .bar-graph {
    margin: 30px auto;
  }

  .summary-btn {
    margin: auto;
  }

  /* SUMMARY - INFO SECTION */
  .summary-info-container {
    margin: 0 20px;
  }

  .row-data {
    display: block;
    padding: 10px 0;
  }

  .row-heading {
    margin-top: 15px;
  }

  .row-content {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}