body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p {
  
}

h4 {
  font-size: .8em;
  font-weight: 700;
}

button {
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

/*MAIN CONTAINERS*/
.page-container {
  /*background-color: #f2f2f2;*/
  background-color: purple;
  display: flex;
}

.main-container {
  display: inline-block;
  width: 100%;
}

.sidebar-container {
  background-color: #333333;
  width: 160px;
  min-width: 140px;
  position: relative;
}

/*SIDEBAR*/
.headshot-container {
  width: 100%;
  padding: 25px 0 10px;
  border-bottom: 2px solid #262626;
}

.headshot-img {
  border-radius: 50%;
  margin: 0 auto 15px;
  width: 65px;
  height: 65px;
  background: url('../images/dog.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.headshot-label {
  color:  #8c8c8c;
  text-align: center;
  font-size: .8em;
  font-weight: 700;
  margin: 10px 0 10px 15px;
}

.sidebar-nav {
  margin: 20px 0px;
  border-bottom: 2px solid #262626;
  padding-bottom: 20px;
}

.sidebar-nav-label {
  font-size: .8em;
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #666666;
}

.sidebar-nav-item {
  box-sizing: border-box;
  color:  #8c8c8c;
  cursor: pointer;
  padding: 10px;
  font-size: .8em;
  font-weight: 900;
  width: 100%;
}

.nav-icon {
  margin-right: 12px;
  width: .8em;
}

.cat-nav {
  border-bottom: none;
}

.cat-nav .sidebar-nav-item {
  font-size: .75em;
}

.sidebar-nav-item:hover,
.sidebar-nav .active-item {
  color: #f2f2f2;
  background-color: #262626;
}

.sidebar-nav .active-item {
  border-left: 2px solid #006bb3;
}

.yellow-icon {
  color: yellow;
}

.green-icon {
  color: green;
}

.red-icon {
  color: red;
}

/*MAIN SEARCH HEADER*/

.main-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hdr-btn {
  min-width: 50px;
  height: 50px;
  border: 1px solid #666666;
}

.site-search-wrap {
  position: relative;
  width: 100%;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 35px;
  height: 50px;
}

.search-icon {
  position: absolute;
  top: 17px;
  left: 10px;
}

.add-user-btn,
.edit-cal-btn,
.tile-menu-btn {
  margin-left: auto;
}


/*MEDIA*/
@media screen and (max-width: 600px) {
  .page-container {
    display: block;
  }

  /*SIDEBAR --> MOBILE HEADER*/
  .sidebar-container {
    width: 100%;
    height: auto;
  }

  .sidebar-nav {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    display: inline-block;
    border: none;
    padding: 10px 10px;
    border-right: 1px solid black;
    width: 32%;
  }

  .headshot-container {
    border-bottom: none;
  }

  .cat-nav {
    border-right: none;
  }

  .sidebar-nav-label {
    padding: 0;
    margin: 10px 0 0;
  }

  .sidebar-nav-label:focus {

  }

  .sidebar-nav-item {
    display: none;
  }

  /* MAIN SEARCH HEADER */

  .main-header {
    flex-wrap: wrap;
  }

  .toggle-sidebar-btn {
    display: none
  }

  .add-user-btn,
  .edit-cal-btn,
  .tile-menu-btn {
    min-width: 33%;
  }

}